# vscode 配置文件（非必须
**/.vscode
# 倒是有点不是很想去掉这个文件，毕竟可以保持每个项目的代码风格统一
# 暂时先加上了
.clang-format
# cubemx 的非必要工程文件
**/MDK-ARM
**/.cmsis
**/Core
**/Drivers
**/.mxproject
**/startup_stm32f401xc.s
**/startup_stm32f103xe.s
**/startup_stm32f103x6.s
**/startup_stm32f103xb.s
**/startup_stm32g030xx.s
**/startup_stm32f10x_md.s
**/STM32F407VETx_FLASH.ld
**/STM32F103ZETx_FLASH.ld
**/STM32F401CCUx_FLASH.ld
**/STM32F103C6Tx_FLASH.ld
**/stm32f1x_64KB_flash.ld
**/STM32F103C8Tx_FLASH.ld
**/STM32G030F6Px_FLASH.ld
**/Makefile
**/src/stm32f10x_conf.h
**/src/stm32f10x_it.h
**/src/stm32f10x_it.c
# eide 的非必要工程文件
**/build
**/.eide/log
**/.eide/deps
**/conf.cppcheck
**/.eide.usr.ctx.json
# 项目原始打包文件
**/*.zip
**/lib/u8g2
**/src/u8g2
**/src/cppsrc
**/src/csrc
# 第三方库，就不添加了

# diansai3中一些无用的文件
ST/diansai3/1659185103.4764144
ST/diansai3/1659185113.346381
ST/diansai3/1659185144.815532
ST/diansai3/1659185153.4900303
ST/diansai3/1659185163.7408795
ST/diansai3/1659185169.944316
ST/diansai3/1659185184.1021001
ST/diansai3/1659185199.8557217
ST/diansai3/1659185209.7916715
ST/diansai3/1659185214.9833882
ST/diansai3/1659185223.1659245
ST/diansai3/1659185409.0627506
# u8g2 中无用的文件
!ST/u8g2/Core/
ST/u8g2/Core/u8g2
ST/u8g2/Core/Inc/gpio.h
ST/u8g2/Core/Inc/i2c.h
ST/u8g2/Core/Inc/stm32f1xx_hal_conf.h
ST/u8g2/Core/Inc/stm32f1xx_it.h
ST/u8g2/Core/Src/gpio.c
ST/u8g2/Core/Src/i2c.c
ST/u8g2/Core/Src/stm32f1xx_hal_msp.c
ST/u8g2/Core/Src/stm32f1xx_it.c
ST/u8g2/Core/Src/system_stm32f1xx.c
ST/u8g2/Core/Src/startup_stm32f103xe.s
#
ST/c++test/examples
#
**/aaa/lib/cmsis
**/aaa/hal
**/hhhhhjhjjk/out
**/open32/examples
**/startup/Linker.ld
**/startup/Startup.asm
**/open322/lib/cmsis
**/open322/hal
**/open322/out
**/open323/out
**/open32/sdk
#
**/tea5767/lib
#
__pycache__
**/YXD12864+Bad Apple/lib
**/YXD12864+Bad Apple/bad_apple.mp4
#
**/gps_oled/lib/device
**/gps_oled/lib/sensor
#
**/gm12864/lib/device
**/gm12864/lib/sensor
#
**/air32f103cbt6_led_u8g2/lib/device
**/air32f103cbt6_led_u8g2/lib/sensor
#
**/stm32g030f6p6_st7302_ink-like_screen/lib/device
**/stm32g030f6p6_st7302_ink-like_screen/lib/sensor
#
**/stm32f401-oled_gray-pwm_gray/lib/device
**/stm32f401-oled_gray-pwm_gray/lib/sensor
#
ST/air32f103_gpio/Listings
ST/air32f103_gpio/Objects
ST/air32f103_gpio/RTE
ST/air32f103_gpio/SYSTEM
ST/air32f103_gpio/air32f103*
ST/air32f103_gpio/EventRecorderStub.scvd
ST/air32f103_gpio/USER/air32f10x*
ST/air32f103_gpio/USER/GPIO*
#
**/day0-gpio/DebugConfig
**/day0-gpio/lib
**/day0-gpio/Listings
**/day0-gpio/start
**/day0-gpio/user/stm32f10x*
**/day0-gpio/stm32f10x*
!**/day0-gpio/stm32f10x.code-workspace
**/day0-gpio/JLink*


