# vscode 配置文件（非必须
**/.vscode
# 倒是有点不是很想去掉这个文件，毕竟可以保持每个项目的代码风格统一
# 暂时先加上了
.clang-format
# cubemx 的非必要工程文件
**/Core
**/Drivers
**/.mxproject
**/startup_stm32f401xc.s
**/STM32F401CCUx_FLASH.ld
**/Makefile
# eide 的非必要工程文件
**/build
**/.eide/log
**/.eide/deps
**/conf.cppcheck
**/.eide.usr.ctx.json
# 项目原始打包文件
**/*.zip
**/u8g2
# 第三方库，就不添加了