# vscode 配置文件（非必须
**/.vscode
# 倒是有点不是很想去掉这个文件，毕竟可以保持每个项目的代码风格统一
# 暂时先加上了
.clang-format
# cubemx 的非必要工程文件
**/Core
**/Drivers
**/.mxproject
**/startup_stm32f401xc.s
**/startup_stm32f103xe.s
**/STM32F407VETx_FLASH.ld
**/STM32F103ZETx_FLASH.ld
**/STM32F401CCUx_FLASH.ld
**/Makefile
# eide 的非必要工程文件
**/build
**/.eide/log
**/.eide/deps
**/conf.cppcheck
**/.eide.usr.ctx.json
# 项目原始打包文件
**/*.zip
**/lib/u8g2
**/src/u8g2
**/src/cppsrc
**/src/csrc
# 第三方库，就不添加了

# diansai3中一些无用的文件
ST/diansai3/1659185103.4764144
ST/diansai3/1659185113.346381
ST/diansai3/1659185144.815532
ST/diansai3/1659185153.4900303
ST/diansai3/1659185163.7408795
ST/diansai3/1659185169.944316
ST/diansai3/1659185184.1021001
ST/diansai3/1659185199.8557217
ST/diansai3/1659185209.7916715
ST/diansai3/1659185214.9833882
ST/diansai3/1659185223.1659245
ST/diansai3/1659185409.0627506
# u8g2 中无用的文件
ST/u8g2/MDK-ARM
ST/u8g2/.cmsis
ST/u8g2/STM32F103ZETx_FLASH.ld
# ST/u8g2/Core/*
!ST/u8g2/Core/
ST/u8g2/Core/u8g2
ST/u8g2/Core/Inc/gpio.h
ST/u8g2/Core/Inc/i2c.h
ST/u8g2/Core/Inc/stm32f1xx_hal_conf.h
ST/u8g2/Core/Inc/stm32f1xx_it.h
ST/u8g2/Core/Src/gpio.c
ST/u8g2/Core/Src/i2c.c
ST/u8g2/Core/Src/stm32f1xx_hal_msp.c
ST/u8g2/Core/Src/stm32f1xx_it.c
ST/u8g2/Core/Src/system_stm32f1xx.c
ST/u8g2/Core/Src/startup_stm32f103xe.s